.container {
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
}

.container-contri {
margin-top: 50px;
}

.container img {
flex-basis: calc(50% - 20px);
margin-top: 70px;
margin-bottom: -20px;
border-radius: 50%;
}

.contri-text {
padding: 20px;
}

.contri-img img {
width: 200px;
height: 200px;
display: block;
align-items: flex-start;
}

.contribution-img img {
padding-top: 100px;
}


@media only screen and (max-width: 480px) {
.container img {
flex-basis: 100%;
margin-top: 20px;
margin-bottom: 20px;
}
  
.contri-text {
padding: 10px;    
}
  
.contribution-img img {
max-width: 100%;
}
}
  
  
@media only screen and (min-width: 481px) and (max-width: 768px) {
.container img {
flex-basis: calc(33.33% - 20px);
margin-top: 50px;
margin-bottom: 20px;
}

.contri-text {
padding: 15px;
}

.contri-img img {
width: 180px;
height: 180px;
}

.contribution-img img {
    max-width: 100%;
    }
}
  
  
@media only screen and (min-width: 769px) and (max-width: 1200px) {
.container img {
flex-basis: calc(25% - 20px);
margin-top: 60px;
margin-bottom: 30px;
}

.contri-text {
padding: 20px;
}

.contri-img img {
width: 190px;
height: 190px;
}
.contribution-img img {
    max-width: 100%;
    }

}
  