.container {
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
}

.container-contri {
flex-basis: calc(50% - 20px);
margin-top: 50px;
}

.container img {
flex-basis: calc(50% - 20px);
margin-top: 70px;
margin-bottom: -20px;
border-radius: 50%;
}

.contri {
margin-bottom: 20px;
}

.contri-img img {
width: 200px;
height: 200px;
display: block;
align-items: flex-start;
}

.contribution-img img {
padding-top: 100px;

}

.title {
margin-top: 150px;
margin-bottom: 100px;
text-align: center;
}

p {
color: #1a1a1a;
margin: 0;
line-height: 150%;
font-size: 16px;
font-family: 'Nunito';
font-weight: 700;
}
    
h1 {
color: #FFFFFF;
font-size: 48px;
font-family: 'Roboto Slab';
font-weight: 500;
}
    
h2 {
color: #FFFFFF;
font-size: 36px;
font-family: 'Roboto Slab';
font-weight: 500;
}