.container-ex {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
flex-direction: column;
    
    }
.info-ex {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
border: 1px solid #007777;
background-color: #007777;
align-items: center;
}

.exhibition {
flex: 0 1 calc(50% - 10px);
text-align: center;

}
.exhibition img {
/*height: 432px;
width: 575px;*/
height: 330px;
width: 500px;
}
.read-ex {
margin-top: 10px;
}

.info-cosmo {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
justify-content: center;
text-align: center;
border: 1px solid #000000;
background-color: #000000;
}
.cosmo img {
max-height: 100%;
max-width: 100%;
}

h4 {
color: #FFFFFF;
font-size: 20px;
font-family: 'Roboto Slab';
font-weight: 500;
margin: 10px;
}

h1{
color: #FFFFFF;
font-size: 48px;
font-family: 'Roboto Slab';
font-weight: 500;
}
p {
color: #FFFFFF;
margin: 0;
line-height: 150%;
font-size: 14px;
font-family: 'Nunito';
font-weight: 400;
}

.title {
margin-top: 150px;
margin-bottom: 100px;
text-align: center;
}