.container-ex {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
flex-direction: column;
}

.info-ex {
display: flex;
justify-content: space-between;
margin-bottom: 20px;
border: 1px solid #007777;
background-color: #007777;
align-items: flex-start;
padding-top: 30px;
padding: 20px;
}

.exhibition {
flex: 0 1 calc(50% - 10px);
text-align: center;
max-width: 500px;
margin: 0 auto;
}

.exhibition img {
height: 330px;
width: 500px;
}

.read-ex {
margin-top: 10px;
}

.info-cosmo {
display: flex;
justify-content: space-between;
margin-top: -20px;
justify-content: center;
text-align: center;
border: 1px solid #000000;
background-color: #000000;
}

.cosmo img {
max-height: 100%;
max-width: 100%;
}

@media only screen and (max-width: 480px) {
.exhibition {
flex: 1 1 100%;
margin-bottom: 20px;
}

.exhibition img {
width: 100%; 
height: auto; 
}
  
.read-ex {
margin-top: 5px;
}
    
.info-ex {
flex-direction: column;  
}
}

.bottom-ex img {
max-width: 100%;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
.exhibition {
flex: 1 1 calc(50% - 10px);
margin-bottom: 15px; 
}
  
.exhibition img {
width: 100%; 
height: auto; 
}

.exhibition p {
font-size: 12px;
}

.read-ex {
margin-top: 10px;
}

.info-ex {
flex-direction: column;
}

.bottom-ex img {
max-width: 100%;
}
}


  
  
@media only screen and (min-width: 769px) and (max-width: 1024px) {
.exhibition {
flex: 1 1 calc(33.33% - 10px); 
margin-bottom: 15px; 
}
  
.exhibition img {
width: 100%;
height: auto;
}
  
.read-ex {
margin-top: 10px;
}

.info-ex {
flex-direction: column;
}
.bottom-ex img {
max-width: 100%;
}
}

@media only screen and (min-width: 1025px) {
.exhibition {
flex: 1 1 calc(25% - 10px);
margin-bottom: 15px;
}
.read-ex {
margin-top: 10px;
}  
.bottom-ex img {
max-width: 100%;
}
}