.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 50px;
    }
    .container-tm {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    }

    
    .policy-term img {
    width: 240px;
    height: 325px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    display: block;
    }

    .policy-term {
    padding: 50px;
    border: 1px solid #007777;
    background-color: #007777;
    margin-top: 50px;
    }

    h4 {
        color: #FFFFFF;
        font-size: 20px;
        font-family: 'Roboto Slab';
        font-weight: 500;
        margin: 10px;
        }
        
        h1{
        color: #FFFFFF;
        font-size: 48px;
        font-family: 'Roboto Slab';
        font-weight: 500;
        }
        p {
        color: #FFFFFF;
        margin: 0;
        line-height: 150%;
        font-size: 14px;
        font-family: 'Nunito';
        font-weight: 400;
        }



